@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$black: black;

.wrapper {
  max-width: 800px;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0 auto;
}

.notebook {
  flex-grow: 1;
  position: relative;
  transition: 0.5s ease-in-out;
  border-radius: 6px 17px 17px 6px;
  display: inline-block;
  perspective: 1200px;
  &:hover {
    /* transform: rotateZ(-20deg); */
    .notebook-front {
      transform: rotateY(-60deg);
      z-index: 999;
      box-shadow: 3px 3px 3px black;
    }
  }
}

.notebook-front {
  background: #24646f;
  position: absolute;
  border-radius: 6px 17px 17px 6px;
  transition: 0.6s linear;
  transform-style: preserve-3d;
  transform-origin: left center 0px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  &:before {
    background: $black;
    top: -1px;
    content: "";
    position: absolute;
    width: 11px;
    height: 22em;
    z-index: 100000;
    border-radius: 3px;
    right: 27px;
  }
}

.notebook-skin {
  margin-top: 8rem;
  font-size: 22px;
  color: black;
  background: #e8e8e0;
  text-align: left;
  padding-left: 100%;
  width: 0;
  aspect-ratio: 732 / 462;
  overflow: hidden;
  background-image: url("./assets/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 3px 3px grey;
  z-index: 10;
  &:before {
    width: 100%;
    height: 15px;
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    background: #485247;
  }
}

.notebook-bullet-page {
  background-color: #fbfae8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px 17px 17px 6px;
  overflow: hidden;
  z-index: 0;
  background-image: url(logo.png);

  &.dotted-page {
    background: linear-gradient(90deg, #fbfae8 10px, transparent 1%) center,
      linear-gradient(#fbfae8 10px, transparent 1%) center, #999;
    background-size: 12px 12px;
  }
}

.title {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 4em;
}

.theme {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 2em;
  color: darkblue;
}

a {
  text-decoration: none;
}

.logo-carnet {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 67%;
  transform: translate(-50%, -50%);
  height: 10em;
}
